version: '3.8'

services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres-sais
    environment:
      POSTGRES_USER: sais_admin
      POSTGRES_PASSWORD: Sais2026
      POSTGRES_DB: sais_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data: