version: '3.8'
services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  # Vem do .env
      POSTGRES_USER : ${POSTGRES_USER}
      POSTGRES_DB : ${POSTGRES_DB}
    ports:
      - "5432:5432"
  
  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/sais_dev
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data: